#header-placeholder {
  height: 0;
}

header {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #070707;
  width: 100%;
  z-index: 1000;
  background: var(--bg-color);
}

header.sticky {
  position: fixed;
  top: 0;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  width: 100%;
  max-width: 1200px;
  background: var(--bg-color);
}

.site-logo {
  display: flex;
  height: 35px;
}

.menu-toggle {
  z-index: 10001;
  position: relative;
  cursor: pointer;
  display: block;
}

.menu-icon {
  width: 30px;
  height: 30px;
  display: none;
}

.menu-icon.active {
  display: block;
}

nav {
  position: fixed;
  inset: 0;
  background-color: var(--bg-color);
  opacity: 0;
  transform: translateY(-100%);
  pointer-events: none;
  transition: opacity 0.5s ease, transform 0.5s ease;
  z-index: 99;
  display: block;
}

nav.active {
  display: block;
  width: 100%;
  height: 100vh;
  position: fixed;
  inset: 0;
  background-color: var(--bg-color);
  z-index: 99;
  text-transform: uppercase;
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-top: 40px;
}

@media (min-width: 820px) {
  .nav-menu {
    padding: 20px 40px;
  }

  .site-logo {
    height: 60px;
  }

  .menu-toggle {
    display: none;
  }

  nav {
    display: block;
    position: static;
    opacity: 1;
    transform: none;
    pointer-events: auto;
    height: auto;
    width: auto;
    background: none;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 0;
    list-style: none;
    text-transform: uppercase;
    font-size: 14px;
  }

  nav ul li a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 500;
    transition: color 0.3s;
  }

  nav ul li a:hover {
    color: gray;
  }
}
