#publikacje {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 40px;
}

.publikacja-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.publikacja-title {
  font-size: 10px;
}

.publikacja-date {
  font-size: 8px;
  margin-bottom: 20px;
  font-style: italic;
}

.publikacja-img {
  width: 90%;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  justify-self: center;
  padding: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(46, 46, 46, 0.4);
  -moz-box-shadow: 0px 0px 10px 1px rgba(46, 46, 46, 0.4);
  box-shadow: 0px 0px 10px 1px rgba(46, 46, 46, 0.4);
}

.publikacja-img:hover {
  -webkit-box-shadow: 0px 0px 10px 1px rgba(46, 46, 46, 0.7);
  -moz-box-shadow: 0px 0px 10px 1px rgba(46, 46, 46, 0.7);
  box-shadow: 0px 0px 10px 1px rgba(46, 46, 46, 0.7);
}

@media (min-width: 820px) {
  .publikacja-wrapper {
    margin-top: 140px;
  }

  .publikacja-title {
    font-size: 14px;
  }

  .publikacja-date {
    font-size: 12px;
  }
}
