:root {
  --color-primary: rgb(0, 0, 0);
  --color-secondary: rgb(255, 255, 255);
  --bg-color: rgb(223, 223, 223);
  --form-field-border: 1px solid rgb(0, 0, 0);
  --checkbox-height: 30px;
  --inputs-transitions: background-color 0.5s linear;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  color: var(--color-primary);
  font-family: "Poppins", sans-serif;
}
a {
  all: unset;
}
aside a {
  cursor: pointer;
  font-weight: 700;
}
aside span {
  font-weight: 700;
}
body {
  display: flex;
  justify-content: center;
  background-color: var(--color-secondary);
  font-size: 2rem;
  margin: 0 auto;
  padding: 30px;
}
.hidden {
  display: none;
}
.form-start {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  margin-top: 12rem;
}
.container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.subtitle {
  text-align: center;
  font-size: 3.2rem;
  font-weight: 700;
  margin-bottom: 10rem;
}
.logo img {
  height: 10rem;
}
.footer {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 2rem;
}
#section-start {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
  max-width: 900px;
  height: 95vh;
}
.section-start-email-label {
  display: inline-block;
  padding-bottom: 20px;
}

.form-text-label {
  font-size: 2rem;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: var(--form-field-border);
}

.formularz {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
  max-width: 900px;
}
.form-row {
  display: grid;
  grid-template-columns: 50px minmax(700px, 1fr);
  border: var(--form-field-border);
  width: 100%;
}

.form-row-uwagi {
  width: 100%;
  font-size: 1.4rem;
  border: var(--form-field-border);
  padding: 5px 10px;
}

.form--grid-2-cols {
  grid-column: 1 / -1;
}

.form-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.section-title {
  margin-top: 2rem;
  color: var(--color-primary);
  padding-bottom: 2rem;
  position: relative;
  width: 100%;
}
.section-data {
  display: grid;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 1.4rem;
  font-weight: 400;
}
.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 900px;
}
.form-num-field {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  border: var(--form-field-border);
}
.form-additional-info {
  font-size: 1.4rem;
}
.form-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.grid-2-cols {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 10px;
  column-gap: 15px;
}

.form-list li label {
  cursor: pointer;
  font-size: 1.4rem;
  padding: 0 15px 0 10px;
  align-self: center;
}

.list-check-wrapper {
  display: flex;
  align-items: center;
}
.input-text-inne-opis {
  margin-left: 20px;
  height: var(--checkbox-height);
  width: 50%;
  padding: 0 5px;
}
.form-list-wrapper {
  border: var(--form-field-border);
}
.form-start-row {
  width: 100%;
  text-align: center;
  margin-top: 8rem;
}

.list-row {
  margin: 5px;
  padding: 5px 0;
  display: flex;
}
.kuchnia-dodatki-wrapper {
  width: 100%;
  display: flex;
  margin: 5px 0 5px 0;
  align-items: flex-start;
}

.kuchnia-dodatki-wrapper-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 5px 0 5px 0;
  align-items: flex-start;
}

.kuchnia-dodatki {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  padding: 8px;
}
.kuchnia-dodatki-ramka {
  border: 1px solid rgb(0, 0, 0);
}

.kuchnia-dodatek-checkbox {
  width: 20px !important;
  height: 20px !important;
}

.kuchnia-dodatek-input {
  font-size: 14px !important;
  width: 100% !important;
  padding: 0 !important;
}

.progress-bar-outer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: 50px;
  background-color: rgb(255, 255, 255);
  width: 100%;
}
.progress-bar-wrapper {
  z-index: 10;
  position: fixed;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);

  height: 10px;
  width: 900px;
  overflow: hidden;
}

.progress-bar-inner {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  height: 100%;
  width: 0%;
}

.final-info {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 90vh;
  width: 100%;
}

.kuchnia-dodatek-input-label {
  font-size: 12px;
  align-self: start !important;
  padding: 2px;
}

/*############################## Small devices (portrait tablets and large phones, 600px and up) ##############################*/
@media only screen and (max-width: 600px) {
  :root {
    --checkbox-height: 20px;
  }

  html {
    font-size: 7px;
  }
  body {
    font-size: 8px;
    margin: 0 auto;
    padding: 10px;
    justify-content: center;
    max-width: 600px;
  }
  .container {
    width: 100%;
  }
  .form-text-label {
    font-size: 1.6rem;
  }
  .form-additional-info {
    font-size: 1rem;
  }
  .form-num-field {
    font-size: 2rem;
  }
  .section-title {
    margin-top: 5rem;
    font-size: 2rem;
  }
  .formularz {
    gap: 1rem;
    width: 100%;
    max-width: 600px;
  }

  .form-wrapper {
    width: 100%;
  }

  .progress-bar-outer {
    height: 20px;
    width: 100%;
  }
  .progress-bar-wrapper {
    z-index: 10;
    top: 5px;
    left: 10px;
    right: 10px;
    transform: none;
    height: 8px;
    width: auto;
  }
  #section-start {
    width: 100%;
  }
  
  .form-start-row {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-self: center;
  }
  .form-row {
    grid-template-columns: 30px minmax(auto, 1fr);
    width: 100%;
  }
  .input-text-inne-opis {
    width: 80%;
  }
  .form-list {
    margin: 0px;
    gap: 0;
  }
  .kuchnia-dodatki {
    padding: 3px;
  }
  .list-row {
    margin: 3px;
    padding: 5px;
  }
  .kuchnia-dodatek-checkbox {
    width: 10px !important;
    height: 10px !important;
  }

  .form-list li label {
    font-size: 7px;
    padding: 0 5px 0 3px;
  }

  .kuchnia-dodatek-input {
    font-size: 10px !important;
  }
  .kuchnia-dodatek-input-label {
    font-size: 10px;
  }
  .kuchnia-dodatki-wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 10px;
    margin: 10px 0 0 0;
  }

  .footer {
    position: absolute;
    bottom: 15px;
    left: 10px;
    right: 10px;
  }
}
