.publikacje-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.publikacje-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 600px;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--accent-color-03);
  -webkit-box-shadow: 0px 0px 10px 1px #193f3683;
  -moz-box-shadow: 0px 0px 10px 1px #193f3683;
  box-shadow: 0px 0px 10px 1px #193f3683;
}

.publikacje-lp {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 3rem;
  color: var(--accent-color-10);
  background-color: var(--accent-color-03);
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.publikacje-img {
  width: 100%;
  height: 500px;
}

.publikacje-img-size {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 8px;
}

.publikacje-title {
  margin-top: 1rem;
  font-size: 3rem;
  font-weight: 700;
  color: var(--accent-color-10);
}

.publikacje-data {
  font-size: 2rem;
  font-weight: 700;
}

.publikacje-actions {
  display: flex;
  align-items: start;
  justify-content: center;
  width: 100%;
}

.publikacje-link-tekst {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 90%;
  font-weight: 600;
  color: var(--neutral-color-dark);
  padding-top: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

.publikacje-link {
  display: inline-block;
  padding: 10px;
}
