.publikacje-page-wrapper {
  width: 100%;
}

.publikacje-dodaj-container {
  height: 70px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 5px;
}

.publikacje-dodaj-item {
  width: 100%;
  height: 100%;
}

.publikacje-dodaj-btn {
  display: grid;
  justify-content: start;
  align-items: center;
  grid-template-columns: 50px 200px;
  height: 50px;
  gap: 10px;
  font-size: 2rem;
}

.publikacje-dodaj-blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  display: flex;
  justify-content: center;
  background-color: rgba(35, 35, 35, 0.703) !important;
}

.publikacje-dodaj-wrapper {
  width: 700px;
  padding: 15px;
  margin-top: 70px;
}

.publikacja-img-error-msg {
  color: var(--error-color);
  font-size: 1.8rem;
  display: block;
  height: 30px;
}

.publikacje-dodaj-input-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 20px;
}

.publikacje-dodaj-img-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 100%;
  margin: 10px;
}

.publikacje-dodaj-img-wrapper p {
  font-size: 3rem;
  color: var(--accent-color-12);
}

.publikacje-dodaj-input-wrapper label {
  font-size: 2rem;
  color: var(--accent-color-12);
}

.publikacje-wrapper {
  width: 1600px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.publikacje-container {
  min-width: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--accent-color-03);
  box-shadow: 0px 0px 10px 1px #193f3683;
}

.publikacje-lp {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 3rem;
  color: var(--accent-color-10);
  background-color: var(--accent-color-03);
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.publikacje-edit {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 3rem;
  fill: var(--error-color);
  background-color: var(--accent-color-03);
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.publikacje-img {
  width: 100%;
  height: 500px;
}

.publikacje-img-size {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 8px;
}

.publikacje-image-title {
  font-weight: 700;
}

.publikacje-title {
  margin-top: 1rem;
  font-size: 3rem;
  font-weight: 700;
  color: var(--accent-color-10);
}

.publikacje-data {
  font-size: 2rem;
  font-weight: 700;
}

.publikacje-actions {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.publikacje-link-tekst {
  justify-content: center;
  align-items: center;
  max-width: 90%;
  font-weight: 600;
  color: var(--neutral-color-dark);
  padding-top: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

.publikacje-link {
  display: inline-block;
  padding: 10px;
}

.tooltip-fade {
  transition: opacity 0.3s ease;
  opacity: 1;
  position: fixed;
  pointer-events: none;
  z-index: 1000;
}

.tooltip-fade.hide {
  opacity: 0;
}

.choose-image {
  cursor: pointer;
}

.choose-image svg {
  fill: var(--primary-color);
}

.choose-image svg:hover {
  fill: var(--accent-color-12);
}

.hidden {
  display: none;
}

.publikacja-dodana-ok {
  font-size: 2rem;
  font-weight: 700;
  color: var(--accent-color-13);
}

.publikacja-dodana-error {
  font-size: 2rem;
  font-weight: 700;
  color: var(--error-color);
}

.close-btn {
  position: absolute;
  right: -10px;
  top: -10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--accent-color-03);
}

.close-btn:hover {
  fill: var(--accent-color-10);
}

.img-preview {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.img-preview img {
  cursor: pointer;
  max-width: 350px;
  display: none;
  margin-top: 10px;
}

.file-info {
  font-size: 1.6rem;
  color: var(--accent-color-12);
}

.publikacje-input-field {
  width: auto;
}

.publikacje-button {
  width: 200px;
}

.publikacje-button.disabled {
  opacity: 0.4;
  pointer-events: none;
}

.delete-btn {
  position: absolute;
  left: -10px;
  top: -10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--accent-color-03);
  fill: var(--error-color);
}

.delete-btn:hover {
  background-color: var(--error-color);
  fill: var(--accent-color-03);
}

.publikacje-usun-btn {
  background-color: var(--accent-color-20) !important;
  border: 1px solid var(--accent-color-15) !important;
  color: var(--accent-color-01) !important;
}

.publikacje-mark-for-delete {
  background-color: var(--error-color-lighter) !important;
  color: var(--neutral-color-dark) !important;
  border: none;
}

.publikacje-mark-btn-for-delete {
  background-color: var(--error-color-lighter) !important;
}

.publikacje-mark-for-disabled {
  cursor: default;
}

.publikacje-mark-img-for-disabled {
  filter: grayscale(100%);
  pointer-events: none;
  opacity: 0.5;
}

.hide-response {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}
