:root {
  --primary-color: #212121;
  --secondary-color: #f4f3f3;
  --background-color-primary: #f4f3f3;
  --background-color-secondary: #212121;

  --neutral-color: #e9efed;
  --neutral-color-darker: #c9cfcd;
  --neutral-color-dark: #919191;

  --error-color: #e91e63;

  --white-color: #fff;
  --black-color: #000;

  --accent-color-01: #f7fdfb;
  --accent-color-02: #e2f6f1;
  --accent-color-03: #cdefe8;
  --accent-color-04: #b8e9de;
  --accent-color-05: #a2e2d4;
  --accent-color-06: #8ddcca;
  --accent-color-07: #78d5c0;
  --accent-color-08: #63cfb6;
  --accent-color-09: #4ec8ac;

  --accent-color-10: #3bbfa1;

  --accent-color-11: #36ad92;
  --accent-color-12: #309c83;
  --accent-color-13: #2b8a75;
  --accent-color-14: #257966;
  --accent-color-15: #206757;
  --accent-color-16: #1a5648;
  --accent-color-17: #154439;
  --accent-color-18: #10332b;
  --accent-color-19: #0a211c;
  --accent-color-20: #05100d;

  --form-field-border: 1px solid rgb(0, 0, 0);
  --checkbox-height: 30px;
  --inputs-transitions: background-color 0.5s linear;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  color: var(--primary-color);
  font-family: "Poppins", sans-serif;
}

a {
  all: unset;
}

.svg {
  cursor: pointer;
  fill: var(--secondary-color);
}

.svg:hover {
  fill: var(--accent-color-10);
  color: var(--accent-color-10);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--background-color-primary);
  font-size: 1.4rem;
  margin: 0 auto;
}

.body-container {
  margin: 3rem 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  width: 1600px;
}

.info-logout {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  color: var(--accent-color-13);
  font-weight: 600;
}

.info-login-udany {
  text-align: center;
  font-weight: 700;
  font-size: 3rem;
  color: var(--accent-color-12);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
