.tabela-wrapper {
  margin: 0 auto;
}

.ankieta-tabela {
  border-collapse: collapse;
  overflow: hidden;
  font-size: 16px;
}

.ankieta-tabela th {
  border: 1px solid var(--accent-color-01);
  padding: 10px 16px;
}

.ankieta-tabela td {
  border: 1px solid var(--accent-color-01);
  padding: 10px 16px;
}

.ankieta-tabela th {
  background-color: var(--accent-color-10);
  color: var(--secondary-color);
  padding: 12px 16px;
  text-align: left;
  font-weight: 600;
  letter-spacing: 0.3px;
}

.ankieta-tabela tbody tr:nth-child(even) {
  background-color: var(--accent-color-03);
}

.ankieta-tabela tbody tr:nth-child(odd) {
  background-color: var(--accent-color-02);
}

.ankieta-tabela tbody tr:hover {
  background: var(--accent-color-01);
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.lp {
  background-color: var(--accent-color-10);
  font-weight: 600;
  color: var(--secondary-color);
}

.publikacje-container {
  position: relative;
  padding: 10px;
  display: grid;
  border: 1px solid var(--accent-color-10);
  background-color: var(--accent-color-02);
  grid-template-columns: 800px 800px;
  grid-template-rows: 200px 200px 200px 50px;
  grid-template-areas:
    "title image"
    "date image"
    "actions image"
    "link link";
}

.publikacje-lp {
  position: absolute;
  left: 20px;
  top: 10px;
  font-size: 5rem;
  color: var(--accent-color-13);
}

.publikacje-title {
  grid-area: title;
  font-size: 3rem;
  font-weight: 700;
  color: var(--accent-color-10);
}

.publikacje-data {
  grid-area: date;
  font-size: 2rem;
  font-weight: 700;
}

.publikacje-img {
  grid-area: image;
}

.publikacje-actions {
  grid-area: actions;
  display: flex;
  align-items: end;
}

.publikacje-img-size {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.publikacje-link-tekst {
  grid-area: link;
  display: flex;
  justify-content: start;
  padding: 10px;
  font-weight: 600;
}
.publikacje-copy-link {
  padding: 10px;
}

.publikacje-link {
  padding: 10px;
}

.link {
  cursor: pointer;
}

.link:hover {
  color: var(--accent-color-10);
}
