.tabela-wrapper {
  margin: 0 auto;
}

.ankieta-tabela {
  border-collapse: collapse;
  overflow: hidden;
  font-size: 16px;
}

.ankieta-tabela th {
  border: 1px solid var(--accent-color-01);
  padding: 10px 16px;
}

.ankieta-tabela td {
  border: 1px solid var(--accent-color-01);
  padding: 10px 16px;
}

.ankieta-tabela th {
  background-color: var(--accent-color-10);
  color: var(--secondary-color);
  padding: 12px 16px;
  text-align: left;
  font-weight: 600;
  letter-spacing: 0.3px;
}

.ankieta-tabela tbody tr:nth-child(even) {
  background-color: var(--accent-color-03);
}

.ankieta-tabela tbody tr:nth-child(odd) {
  background-color: var(--accent-color-02);
}

.ankieta-tabela tbody tr:hover {
  background: var(--accent-color-01);
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.lp {
  background-color: var(--accent-color-10);
  font-weight: 600;
  color: var(--secondary-color);
}

.link {
  cursor: pointer;
}

.link:hover {
  color: var(--accent-color-10);
}

